body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #5c5c5c;
    background-color: #fff;
}


header {
    transition-duration: .3s;
}

img {
    vertical-align: middle;
    border: 0;
}

header.navbar-gitlab {
    padding: 0 16px;
    z-index: 100;
    margin-bottom: 0;
    height: 50px;
    background-color: #fafafa;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}



.header-expanded {
    margin-left: 62px;
}

@media (min-width: 992px) {
    .header-expanded {
        margin-left: 220px;
    }
}


.navbar-fixed-top {
    top: 0;
    /*border-width: 0 0 1px;*/
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    /*z-index: 1030;*/
}

@media (min-width: 768px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0;
    }
}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    /*margin-bottom: 21px;*/
    /*border: 1px solid transparent;*/
}

@media (min-width: 768px){
    .navbar {
        /*border-radius: 3px;*/
    }
}



header .header-content {
    position: relative;
    height: 50px;
    /*padding-right: 40px;*/
}

@media (min-width: 768px) {
    header .header-content {
        padding-right: 0;
    }
}


header.navbar-gitlab .side-nav-toggle {
    display: none;
    position: absolute;
    left: -10px;
    margin: 6px 0;
    padding: 6px 10px;
    border: none;
    background-color: #fafafa;
}



header .header-content .navbar-collapse {
    float: right;
    border-top: none;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        /*border-top: 0;*/
        box-shadow: none;
    }
}


ul, menu, dir {
    display: block;
    /*list-style-type: disc;*/
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}



header .header-content .title {
    margin: 0;
    font-size: 19px;
    line-height: 50px;
    font-weight: normal;
    color: #5c5c5c;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}


.page-sidebar-expanded {
    /*padding-left: 62px;*/
}

.page-with-sidebar {
    padding-top: 50px;
    transition-duration: .3s;
}

@media (min-width: 992px) {
    .page-sidebar-expanded {
        padding-left: 220px;
    }
}


.page-with-sidebar .sidebar-wrapper {
    background: #3d454d;
}

.page-sidebar-expanded .sidebar-wrapper {
    width: 220px;
}

.page-with-sidebar .sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    left: 0;
    height: 100%;
    transition-duration: .3s;
}

.sidebar-wrapper {
    z-index: 1000;
    /*background: #fafafa;*/
}


.page-with-sidebar .header-logo {
    background: #3d454d;
}

.sidebar-wrapper .header-logo {
    border-bottom: 1px solid transparent;
    float: left;
    height: 50px;
    width: 220px;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    transition-duration: .3s;
}

#logo {
    z-index: 2;
    position: absolute;
    width: 58px;
    cursor: pointer;
    margin-top: 8px;
}

.page-with-sidebar .header-logo a {
    color: #d6d7d9;
}

.sidebar-wrapper .header-logo a {
    float: left;
    height: 50px;
    width: 100%;
    padding-left: 22px;
    overflow: hidden;
    outline: none;
    transition-duration: .3s;
}

.page-with-sidebar .gitlab-text-container-link {
    z-index: 1;
    position: absolute;
    left: 0;
}

.sidebar-wrapper .header-logo a #tanuki-logo, .sidebar-wrapper .header-logo a img {
    float: left;
}

.sidebar-wrapper .header-logo a .gitlab-text-container {
    width: 230px;
}

.sidebar-wrapper .header-logo a .gitlab-text-container h3 {
    width: 158px;
    float: left;
    margin: 0;
    margin-left: 50px;
    font-size: 19px;
    line-height: 50px;
    font-weight: normal;
}

svg:not(:root) {
    overflow: hidden;
}


.page-sidebar-expanded .sidebar-wrapper .nav-sidebar {
    width: 220px;
}

.nav-sidebar {
    margin-top: 64px;
    margin-bottom: 100px;
    transition-duration: .3s;
    list-style: none;
    overflow: hidden;
}

.nav {
    /*margin-bottom: 0;*/
    padding-left: 0;
    /*list-style: none;*/
}

.nav-sidebar li {
    width: 220px;
}

.nav>li {
    position: relative;
    display: block;
}


.page-with-sidebar .collapse-nav a {
    color: #fff;
    background: #485157;
}

.collapse-nav a {
    width: 220px;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 13px;
    background: transparent;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition-duration: .3s;
    outline: none;
}


.page-with-sidebar .sidebar-wrapper .sidebar-user {
    background: #3d454d;
    color: #d6d7d9;
}

.sidebar-wrapper .sidebar-user {
    padding: 7px 22px;
    position: fixed;
    bottom: 40px;
    width: 220px;
    overflow: hidden;
    transition-duration: .3s;
}

.avatar.s36 {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.avatar {
    float: left;
    /*margin-right: 12px;*/
    /*width: 40px;*/
    /*height: 40px;*/
    padding: 0;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;*/
    border-radius: 50%;
}


.sidebar-wrapper .sidebar-user .username {
    margin-left: 10px;
    width: 200px;
    font-size: 16px;
    line-height: 34px;
}




.content-wrapper {
    width: 100%;
}

.content-wrapper .container-fluid {
    background: #fff;
    padding: 0 16px;
}

.container-limited {
    max-width: 1280px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}


.top-area {
    border-bottom: 1px solid #eee;
}

.top-area .nav-links {
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
    border-bottom: none;
}

.nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.nav-links li {
    display: inline-block;
}


.top-area .nav-controls {
    width: 50%;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 11px 0;
    margin-bottom: 0;
}


.top-area .nav-controls>form {
    display: inline-block;
    margin-top: -1px;
}

.top-area .nav-controls .project-filter-form input {
    background-color: #fafafa;
}

@media (min-width: 1200px) {
    .top-area .nav-controls input {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .top-area .nav-controls input {
        width: 200px;
    }
}

@media (min-width: 1200px) {
    .top-area .nav-controls input.input-short {
        width: 210px;
    }
}

@media (min-width: 992px) {
    .top-area .nav-controls input.input-short {
        width: 170px;
    }
}

.top-area .nav-controls input {
    height: 34px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

input {
    border-radius: 3px;
}

input[type="search"] {
    -webkit-appearance: none;
}


.top-area .nav-controls>.dropdown {
    margin-right: 10px;
    display: inline-block;
}

.dropdown {
    position: relative;
}

/*.btn, .snippet-holder .file-actions .btn-clipboard {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    background-color: #fff;
    border-color: #e5e5e5;
    color: #848484;
    color: #5c5c5c;
}*/

/*.btn, .snippet-holder .file-actions .btn-clipboard {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

/*button {
    overflow: visible;
}*/


.top-area .nav-controls>.btn:last-child,
.top-area .snippet-holder .file-actions .nav-controls>.btn-clipboard:last-child,
.snippet-holder .file-actions .top-area .nav-controls>.btn-clipboard:last-child {
    margin-right: 0;
}

.top-area .nav-controls>.btn,
.top-area .snippet-holder .file-actions .nav-controls>.btn-clipboard,
.snippet-holder .file-actions .top-area .nav-controls>.btn-clipboard {
    /*margin-right: 10px;*/
    display: inline-block;
}

.btn.btn-success,
.snippet-holder .file-actions .btn-success.btn-clipboard,
.btn.btn-new, .snippet-holder .file-actions .btn-new.btn-clipboard,
.btn.btn-create, .btn.comment-btn,
.snippet-holder .file-actions .comment-btn.btn-clipboard,
.snippet-holder .file-actions .btn-create.btn-clipboard,
.btn.btn-save, .snippet-holder .file-actions .btn-save.btn-clipboard {
    background-color: #38ae67;
    border-color: #2faa60;
    color: #fff;
}

